body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #1a1e23;
    margin: 0;


}
  
.main-title{
    text-align: center;
    .title{
        font-size: 3rem;
        color: whitesmoke;
    }
}

.chat-screen{
    text-align: left;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 5px;
    height: 300px;
    width: 75%;
    margin: auto;
    overflow: auto;
    .conversation{
        .line{
            padding: 5rem;
            
        }

    }
}

.text-input{
    width: 75%;
    margin: auto;
    margin-top: 3rem; 
    form{
        .user-items{
            display: flex;
            .text-box{
                flex-grow: 1;
                outline: none;
                border: none;
                background-color: whitesmoke;
                resize: none;
            } 
            .submit-btn{
                background-color: whitesmoke;
                border: 2px solid black;
                border-radius: 5px;
                margin-left: 0.5rem;
            }
        }  
    }   
}
//Styling for choosing differnt model functions
/*.choose-model{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
  width: 75%;
  align-self: center;

  .model{
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    width: 15vw;
    height: 10vw;
    input{
        flex-grow: 1;
        background-color: grey;
        color: white;
        border: none;
    }
  }
}*/
   

    
