{% extends 'base.html' %}

{% block head %}
<title>Blender</title>
{% endblock %}

{% block body %}
<div class="main-title">
    <h1 class = title>Blender: Your AI Chat Bot</h1>
</div>
<div class="chat-screen">
    <p class="conversation">
        {% for num in length%}
        <p class="line">user>>> {{inputs[num]}}<br></p>
        <p class="line">bot>>> {{responses[num]}}<br></p>
        

        {% endfor %}
    </p>
</div>

<div class="text-input">
    <form action="/" method="POST">
        <div class="user-items">
            <textarea name="chat" id="chat"  class="text-box" placeholder="insert message here"></textarea>
            <input class="submit-btn" type="submit" value="Send">
        </div>
    </form>
</div>

{% endblock %}
